@import "media.css";
@font-face {
    font-family: alexander;
    src: url(../font/alexander/alexander.ttf);
}

html, body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif !important;
}

.g-brd {
    border-bottom: 1px solid #343434;
}
.w-60{
    width: 60%;
}
.size-50px{
    width: 50px;
}
.size-60px{
    width: 65px;
}
.size-150px{
    width: 150px;
}
.bg-blue{
    background: #F9F8FD;
}
.block_black{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.fill_svg{
    fill: #0a557f;
}
.fill_svg:hover{
    fill: #219bc3;
}
.fill_svg_footer{
    fill: #f0f0f0;
}
.fill_svg_footer:hover{
    fill: #219bc3;
}
.box_icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #363642;
}
.portfolio:hover .block_black{
    opacity: 0.8;
    transition: opacity 3s;
}
.portfolio:hover img{
    width: 110%;
    height: 110%;
    overflow: hidden;
    transition: width 3s;
}

.logo_mobile{
    display: none;
}
#navBar2{
    opacity: 0;
}

.icon_up{
    width: 20px;
    margin-top: 6px;
}

.bg-img-header{
    background: url("../img/img-start.gif") center no-repeat;
    background-size: 100%;
}
.bg-img-content{
    background: url("../img/fon.gif") top no-repeat;
    background-size: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.g-width-140{
    width: 140px;
}
.g-width-120{
    width: 120px;
}
.g-width-30{
    width: 30px;
}
.g-width-15{
    width: 15px;
}
.g-width-10{
    width: 10px;
}
.icon-style{
    top: 50% !important;
    transform: translateY(-50%);
    width: 85%;
    position: absolute;
    z-index: 99999;
}
.w-50px{
    width: 50px;
}
.title-name-menu{
    position: fixed;
    width: 90%;
    margin-top: -26%;
}
.bShadow-65,.bShadow-65h:hover{
    box-shadow:0px 2px 100px -34px rgba(0, 0, 0, 0.55);
}
.bShadow-5, .bShadow-5h:hover {
    box-shadow: rgba(0,0,0,.8) 0 3px 13px 1px;
}
.br-fff{
    border: 1px #fff solid;
    border-radius: 5px;
}
.box-menu{
    height: 220px;
    border: 1px #fff solid;
}

.fon-img{
    background: url(../img/fon.png) no-repeat right top/cover, url(../img/fon.gif) no-repeat right top/cover;
    background-size: auto 90vh;
}
.w-90{
    width: 90%;
}
.container-fluid{
    padding-left: 10%;
    /*padding-right: 10%;*/
}
.box-center{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
}
.g-m-30{
    margin: 30px 0;
}

.name-site{
    font-family: "alexander", sans-serif !important;
    line-height: 1em;
}
.navbar-nav:hover .nav-item:hover .nav-link:hover {
    color: #efb82e;
}
color-grau{
    color: #eaeaea !important;
}
color-activ{
    color: #efb82e !important;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    left: 20%;
    width: 60%;
}
.style-opacity-video, .style-opacity-grafic, .style-opacity-web, .style-opacity-animation {
    opacity: .2;
}
.box-video:hover .style-opacity-video{
    opacity: .8;
}
.box-grafic:hover .style-opacity-grafic{
    opacity: .8;
}
.box-web:hover .style-opacity-web{
    opacity: .8;
}
.box-animation:hover .style-opacity-animation{
    opacity: .8;
}
.box-video:hover .video{
    display: none;
}
.box-grafic:hover .grafic{
    display: none;
}
.box-web:hover .web{
    display: none;
}
.box-animation:hover .animation{
    display: none;
}
.box-text-hover{
    opacity: 0;
}

.box-grafic:hover .box-text-hover{
    opacity: 1;
}
.box-grafic:hover .img-hover{
    opacity: 0.5;
}
.opacity-hover{
    opacity: 0.5;
}
.opacity-hover:hover{
    opacity: 1;
}
#mCSB_1, #mCSB_2, #mCSB_3, #mCSB_4, #mCSB_5, #mCSB_6, #mCSB_7, #mCSB_8, #mCSB_9{
    background-color: white;
    padding: 3rem;
}
.g-mb-media {
    margin-bottom: 4.28571rem !important;
}
.footer-style{
    position: fixed;
    width: 100%;
    bottom: 0
}
.p-25-0{
    padding: 25px 0 0 0;
}
.modal-demo{
    display: none;
    width: 90%;
    height: inherit;
}
.custombox-overlay{
    background: url(../img/icon/exit.svg) no-repeat 98% 2% /2%, rgba(0,0,0,1) !important;
 }
.display-block-media{
    display: none;
}
.display-none{
    display: block;
}