html, body{
    margin: 0;
    overflow-x: hidden;
}

.g-brd {
    border-bottom: 1px solid #343434;
}
.g-color-navyblue{
    color: #0a557f;
}
.g-color-maline{
    color: #219bc3;
}
.size-50px{
    width: 50px;
}
.size-60px{
    width: 65px;
}
.size-150px{
    width: 150px;
}
.bg-blue{
    background: #F9F8FD;
}
.block_black{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.fill_svg{
    fill: #0a557f;
}
.fill_svg:hover{
    fill: #219bc3;
}
.fill_svg_footer{
    fill: #f0f0f0;
}
.fill_svg_footer:hover{
    fill: #219bc3;
}
.box_icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #363642;
}
.portfolio:hover .block_black{
    opacity: 0.8;
    transition: opacity 3s;
}
.portfolio:hover img{
    width: 110%;
    height: 110%;
    overflow: hidden;
    transition: width 3s;
}

.logo_mobile{
    display: none;
}
#navBar2{
    opacity: 0;
}

.icon_up{
    width: 20px;
    margin-top: 6px;
}

@media screen and (max-width: 990px){
    .logo_mobile{
        display: block;
    }
    #logo{
        display: none;
    }
    .g-py-20 {
      padding-top: 1.42857rem !important;
      padding-bottom: 1rem !important;
    }
    #navBar2{
        opacity: 1;
    }
}