@import "media.css";
@font-face {
    font-family: GunnyRewritten;
    src: url(../font/gunnyrewritten/gunnyrewritten.ttf);
}

html, body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif !important;
}

.g-brd {
    border-bottom: 1px solid #343434;
}

.size-50px{
    width: 50px;
}
.size-60px{
    width: 65px;
}
.size-150px{
    width: 150px;
}
.bg-blue{
    background: #F9F8FD;
}
.block_black{
    width: 100%;
    height: 100%;
    opacity: 0;
}
.fill_svg{
    fill: #0a557f;
}
.fill_svg:hover{
    fill: #219bc3;
}
.fill_svg_footer{
    fill: #f0f0f0;
}
.fill_svg_footer:hover{
    fill: #219bc3;
}
.box_icon{
    width: 40px;
    height: 40px;
    padding: 10px;
    background: #363642;
}
.portfolio:hover .block_black{
    opacity: 0.8;
    transition: opacity 3s;
}
.portfolio:hover img{
    width: 110%;
    height: 110%;
    overflow: hidden;
    transition: width 3s;
}

.logo_mobile{
    display: none;
}
#navBar2{
    opacity: 0;
}

.icon_up{
    width: 20px;
    margin-top: 6px;
}

.bg-img-header{
    background: url("../img/img-start.gif") center no-repeat;
    background-size: 100%;
}
.bg-img-content{
    background: url("../img/fon.gif") top no-repeat;
    background-size: 100%;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.g-width-140{
    width: 140px;
}
.g-width-120{
    width: 120px;
}
.g-width-30{
    width: 30px;
}
.g-width-15{
    width: 15px;
}
.g-width-10{
    width: 10px;
}

.title-name-menu{
    position: fixed;
    margin-top: -25%;
    left: 40%;
}
.bShadow-65,.bShadow-65h:hover{
    box-shadow:0px 2px 100px -34px rgba(0, 0, 0, 0.55);
}
.bShadow-5, .bShadow-5h:hover {
    box-shadow: rgba(0,0,0,.8) 0 3px 13px 1px;
}
.box-menu{
    height: 220px;
    border: 1px #fff solid;
}
.animate-hover{
    display: none;
}

.box-menu:hover .animate-hover{
    display: block;
}
.fon-img{
    background: url(../img/fon2.jpg) no-repeat right top/cover;
    background-size: auto 90vh;
}
.w-90{
    width: 90%;
}
.container-fluid{
    padding-left: 10%;
}
.box-center{
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
}


.name-site{
    font-family: "GunnyRewritten", sans-serif !important;
    line-height: 1em;
}